{% load static %}
<div id="modal" class="sign-modal white-popup white-popup__settings mfp-with-anim mfp-hide">
    <div class="popup-main">
        <div class="contactSingUpModal">
            <img class="w-100" src="{% static 'assets/images/modal-img.png' %}" alt="modal">
            <h2 class="modal-title">Заявка отправлена!</h2>
            <p class="modal-subtitle">Мы свяжемся с вами в ближайшее время</p>
            <button href="#" class="modal-btn closeBtn" data-effect="mfp-zoom-in">Отлично!</button>
        </div>
    </div>
</div>